<div class="text-center">
    <h1 class="text-4xl font-extrabold text-blue-600">
        {{pageTitle}}
    </h1>
    <p class="mt-4 text-lg text-gray-600">
        Um lugar para centralizar e expor os projetos dos alunos.
    </p>
    <div class="mt-8">
        <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Ver Projetos
        </a>
    </div>
</div>